#Experience {
    overflow: hidden;
    width: 100vw;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    margin: 3rem auto;
}
.ExperienceSection {
    width: 100vw;
    max-width: 70vw;
}
.ExpHead {
    margin: 5rem 0;
    font-size: 3rem;
    font-weight: 600;
}
/* 
.ExpBars {
    max-width: 80%;
    margin: 1.5rem 6rem;
    text-align: left;
} */

.ExpBar {
    max-width: 60vw;
    display: flex;
    background-color: rgb(50, 50, 50);
    margin: 2rem 0rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.websiteicon {
    height: 5rem;
    width: 5rem;
}

.ExpBarText {
    font-weight: 300;
    margin: 0 2rem;
}

.ExpBarHead {
    width: 100vw;
    max-width: 50vw;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.ExpBarHeadd{
    text-align: left;
}

/* @media screen and (max-width: 900px) {
    .aboutmeSection {
        width: 100vw;
        max-width: 100vw;
    }
} */

@media screen and (max-width:900px) {
    .ExpBarHead{
        flex-direction: column;
    }
}

@media screen and (max-width:630px) {
    .ExpBar{
        max-width: 100vw;
    }
}

@media screen and (max-width: 580px) {

    .ExpBar {
        flex-direction: column;
    }
    .ExperienceSection{
        max-width: 90vw;
    }
}